<!--main content-->
<div class="container-fluid wrap">
  <head-component head-component></head-component>
  <div class="container-fluid main-content">
    <div class="banner"></div>
    <div class="row">
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
      <p style="text-align: center">AAAAAAAAAAA</p>
    </div>
  </div>
  <console-component console-component></console-component>
  <!--<console-components></console-components>-->
</div>
