<div class="row console">
  <div class="col-xs-3 options">
    <div><a href="#"><i class="ion ion-ios-home-outline"></i>1111</a></div>
  </div>
  <div class="col-xs-3 options">
    <div><a href="#"><i class="ion ion-ios-keypad-outline"></i>2222</a></div>
  </div>
  <div class="col-xs-3 options">
    <div><a href="#"><i class="ion ion-ios-cart-outline"></i>3333</a></div>
  </div>
  <div class="col-xs-3 options">
    <div><a href="#"><i class="ion ion-ios-cog-outline"></i>4444</a></div>
  </div>
</div>